svg {
    fill: #000;
    fill-opacity: 0.3;
  }
  
  path {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
  }
  
  .axis {
    stroke: #000;
  }
  
  .axislabels text {
    fill: #000;
    fill-opacity: 0.9;
    font-size: 12px;
    text-anchor: middle;
  }
  
  .axislabels line {
    stroke: #000;
  }
  
  .gridline {
    opacity: 0.2;
  }
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }